<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
    <h1>Users</h1>
    <ul>
        <% users.forEach(user => { %>
            <li><%= user.name %></li>
        <% }) %>
    </ul>
    <form action="/users/create" method="POST" >
        <input type="text" name="name" placeholder="Enter user name" required>
        <button type="submit">Add User</button>
    </form>
</body>
</html>
